/* 媒体查询 回到顶部 */


/* @media (min-width: 1300px) and (max-width: 1921px) {
  .css-mgur8{
    right: 5% !important;
  }
}

@media (min-width: 1550px) and (max-width: 1821px) {
  .css-mgur8{
    right: 8vw !important;
  }
}
@media (min-width:  1821px) and (max-width: 2200px) {
  .css-mgur8{
    right: 18vw !important;
  }
}
@media (min-width: 3000px) {
  .css-mgur8{
    right: 34% !important;
  }
}  */

/* .css-mgur8{
  bottom: 6% !important;
  right: 50%  !important;
  margin-right: -600px;
  z-index: 9;
} */



@media (min-width: 360px) and (max-width: 1300px) {
  .css-mgur8 {
    /* right: unset !important; */
    right: 20px !important;
    margin-right: unset !important;
    z-index: 9;
    bottom: 6% !important;


  }
}
@media (min-width: 1300px) {
  .css-mgur8 {
    bottom: 6% !important;
    right: 50% !important;
    margin-right: -600px;
    z-index: 9;

  }
}
.css-5si2h0-MuiButtonBase-root-MuiTab-root.Mui-selected,.css-11vlanz.Mui-selected{
  color: #7ECCB4 !important;
}
.css-1aquho2-MuiTabs-indicator,.css-ttwr4n{
  background-color: #7ECCB4 !important;
}
