/* 媒体查询 回到顶部 */
@media (max-width: 750px) {
  .css-mgur8{
    right: 20px !important;
  }
}
@media (min-width: 750px) and (max-width: 1300px) {
  .css-mgur8{
    right: 10% !important;
  }
}

@media (min-width: 1300px) and (max-width: 1921px) {
  .css-mgur8{
    right: 20% !important;
  }
}
@media (min-width: 1921px) and (max-width: 3000px) {
  .css-mgur8{
    right: 26% !important;
  }
}
@media (min-width: 3000px) {
  .css-mgur8{
    right: 34% !important;
  }
}
